<!doctype html>
<html>
    <head>
        <!-- METADATA -->
        <meta charset="utf-8">
        <meta name="description" content="rekeszizom erősítő légzőtorna Kerti Máriával!">
        <meta name="keywords" content="gyógytorna, légzőtorna, rekeszizom">
        <meta name="author" content="Csutár Márk Tibor">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- LIBRARIES GOES HERE -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playball&family=Yantramanav:wght@400;700&display=swap" rel="stylesheet">
        <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
        <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">


        <!-- TITLE -->
        <!--CÍMSOR ICON, KÉSŐBB JÓL FOG JÖNNI<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />-->
        <link rel="shortcut icon" href="/img/icons/001-lungs.svg" type="image/x-icon">
        <title><%= title %></title>

    </head>
    <body>
